@{
    ViewData["Title"] = "О нас";
}

<div class="container mt-5">
    <h1>О нас</h1>
    <p>Мы - команда профессионалов, занимающихся продажей и установкой окон и стекол высшего качества.</p>
</div>
