@{
    ViewData["Title"] = "Продукты";
}

<div class="container mt-5">
    <h1 class="display-4">Наши окна и стекла</h1>
    <p class="lead">Познакомьтесь с нашим ассортиментом окон и стекол.</p>

    <div class="row">
        <!-- Первый продукт -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="~/img/window1.jpg" class="card-img-top" alt="Окно 1">
                <div class="card-body">
                    <h5 class="card-title">Энергосберегающее окно</h5>
                    <p class="card-text">Наши энергосберегающие окна помогают сократить ваши расходы на отопление.</p>
                </div>
            </div>
        </div>

        <!-- Второй продукт -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="~/img/window2.jpg" class="card-img-top" alt="Окно 2">
                <div class="card-body">
                    <h5 class="card-title">Звукоизоляционное окно</h5>
                    <p class="card-text">Изолируйте свой дом от внешнего шума с нашими звукоизоляционными окнами.</p>
                </div>
            </div>
        </div>

        <!-- Третий продукт -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="~/img/window3.jpg" class="card-img-top" alt="Окно 3">
                <div class="card-body">
                    <h5 class="card-title">Светопрозрачное окно</h5>
                    <p class="card-text">Наши светопрозрачные окна придают вашему дому стильный и современный вид.</p>
                </div>
            </div>
        </div>
    </div>
</div>
